/* Normalization code */

* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

.catagories ul li {
    float: left;
}


/* title of website */

.header h5 {
    text-shadow: 2px 0px 2px rgba(150, 150, 150, 1);
    color: rgba(41, 46, 121, 1);
    text-decoration: underline;
}

.header h3 {
    font-size: 25px;
    text-shadow: 2px 0px 2px rgba(150, 150, 150, 1);
    color: rgba(65, 87, 199, 1);
    text-decoration: underline;
}


/*star rating bar*/
